<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    
<label :for="item" v-for=" item in hobbies">
<input type="checkbox" :value="item" :id="item" v-model="defult">{{item}}
</label>
{{defult}}

<input type="text" v-model="age">
{{age}}
<!-- 三种修饰符   v-model.lazy   不实时绑定 要用户回车才会显示内容 -->
<!-- v-model.number   输入数据必须为number类型 -->
<!-- v-model.trim   使输入数据自动去除空格符 -->

  </div>
  <script src="./js/vue.js"></script>
  <script>
    const app=new Vue({
      el:'#app',
      data:{
        hobbies:["asdd","adsf","sdaf","sdfasfffffsdf"],
        defult:[],
        age:""
      },
      methods:{},
    })
  </script>
</body>
</html>